<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-4xl text-white text-uppercase text-bold m-0 fade-up">
            Estamos detrás de cada proyecto </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image"
       style="background-image: url('assets/img/Menu/Img4.jpg');"></div>
</div>
<div><!-- Sticky container -->

  <div class="tabs-container bg-white">
    <div class="grid-container">
      <div class="grid-x align-center">
        <div class="cell">
          <div class="tabs pagination tabbed-container">
            <a class="page-link " href="#section0">Nosotros</a>
            <a class="page-link" href="#section1">Principios</a>
            <a class="page-link" href="#section2">Equipo</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section0">
    <div class="content bg-white">
      <div class="grid-container">
        <div class="grid-x align-center">
          <div class="cell large-9 xlarge-7">
            <div class="rich-text">


              <p><b> Somos MIRAS, una empresa peruana especializada en la
                ingeniería de valor con una mirada al futuro.</b></p>

              <p>Contamos con amplia experiencia en el diseño, gestión, supervisión y dirección de proyectos de
                construcción e infraestructura.</p>

              <p>Hemos participado en el desarrollo de obras de gran envergadura
                gestionando de manera eficiente los recursos, porque ejecutamos cada proyecto de manera exitosa,
                alineando
                los objetivos del cliente para lograr la optimización y reducción de costos así como también el tiempo,
                generando así un producto de valor.</p>

            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="img-banner"
         style="background-image:url('assets/img/Menu/BF4QIWNe57.jpg');"></div>

  </div>

  <div id="section1">
    <div class="content bg-white">
      <div class="grid-container">
        <div class="grid-x align-center">
          <div class="cell large-12 xlarge-9">
            <h2 class="text-sm text-bold text-uppercase text-center text-gray-md tracking-wide mb-md">nuestros
              principios</h2>
            <div class="cont-mision">
              <div class="mision" (click)="openMision('mision')" >
                <img src="assets/img/Mision.png" alt="">
              </div>
              <div class="rich-text box-shadow" [ngClass]="{'active':mision=='mision'}">
                <button class="menu-close" (click)="closeMision()">
                  <i class="fas fa-times"></i>
                </button>
                <h3>Misión</h3>
                <p>Brindar servicios de ingeniería y gestión de proyectos con altos estándares de calidad que
                  contribuyan
                  a
                  la satisfacción de nuestros socios estratégicos mediante un entorno de gestión colaborativa aplicando
                  la
                  metodología BIM</p>
              </div>
              <div class="mision" (click)="openMision('visión')" >
                <img src="assets/img/vision.png" alt="">
              </div>
              <div class="rich-text box-shadow" [ngClass]="{'active':mision=='visión'}">
                <button class="menu-close" (click)="closeMision()">
                  <i class="fas fa-times"></i>
                </button>
                <h3>visión</h3>
                <p>Ser reconocidos como la empresa líder de ingeniería y gestión de proyectos en el Perú con proyección
                  internacional, destacando nuestra capacidad técnica y operativa con el objetivo de generar valor
                  agregado a nuestros proyectos y satisfacción a nuestros socios estratégicos.</p>
              </div>

              <div class="mision" (click)="openMision('valores')" >
                <img src="assets/img/valores.png" alt="">
              </div>
              <div class="rich-text box-shadow" [ngClass]="{'active':mision=='valores'}">
                <button class="menu-close" (click)="closeMision()">
                  <i class="fas fa-times"></i>
                </button>
                <h3>valores</h3>

                <div class="grid-x align-center">
                  <div class="cell large-6 xlarge-6">
                    <ul>
                      <li>Cooperación</li>
                      <li>Confianza</li>
                      <li>Eficiencia</li>
                      <li>Experiencia</li>
                    </ul>
                  </div>
                  <div class="cell large-6 xlarge-6">
                    <ul>
                      <li> Innovación Tecnológica</li>
                      <li> Respeto</li>
                      <li> Trabajo en Equipo</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="section2">
    <div class="content bg-gray-ltr">
      <div class="grid-container">
        <div class="grid-x align-center">
          <div class="cell large-9 xlarge-7">
            <h2 class="text-sm text-bold text-uppercase text-center text-gray-md tracking-wide mb-md">NUESTROS
              EQUIPO</h2>
            <div class="rich-text">
              <p><b>Nuestro equipo está altamente capacitado para convertir cada visión en realidad.</b></p>
              <p>
                Todos y cada uno de
                los miembros de nuestro personal comparten nuestro espíritu y se enorgullecen de su trabajo. Invertimos
                mucho en fomentar el conocimiento y habilidades, para que así nuestro trabajo sea tan bueno como el
                equipo que los desarrolla.</p>
            </div>
          </div>
        </div>
        <div class="grid-x mt-lg">
          <div class="cell">
            <ul class="card-list">
              <li class="card fade-up">
                <div class="team" (click)="modalOpen('edward')" data-modal>
                  <div class="image">
                    <div class="inner"
                         style="background-image:url('assets/img/Menu/pexels-mentatdgt-937481.jpg');"></div>
                  </div>
                  <div class="text">
                    <div class="top">
                      <h3 class="text-sm text-uppercase text-gray-md tracking-wide">ingeniero civil</h3>
                      <h2 class="text-lg text-bold text-black text-uppercase">Edward Medrano Lahura</h2>
                      <h3 class="text-md text-uppercase text-c-second tracking-wide">Jefe de Ingeniería</h3>
                    </div>
                    <div class="bottom">
                      <button class="btn btn-stroke btn-black">
                        <span>Ver Perfil</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
              <li class="card fade-up">
                <div class="team" (click)="modalOpen('andres')" data-modal>
                  <div class="image">
                    <div class="inner"
                         style="background-image:url('assets/img/Menu/pexels-mentatdgt-937481.jpg');"></div>
                  </div>
                  <div class="text">
                    <div class="top">
                      <h3 class="text-sm text-uppercase text-gray-md tracking-wide">ingeniero civil</h3>
                      <h2 class="text-lg text-bold text-black text-uppercase">Andres O. Romero Mego</h2>
                      <h3 class="text-md text-uppercase text-c-second tracking-wide">Jefe de Proyectos</h3>
                    </div>
                    <div class="bottom">
                      <button class="btn btn-stroke btn-black">
                        <span>Ver Perfil</span>
                      </button>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ovelay" *ngIf="perfil">

    <div class=" team-modal" [ngClass]="{'active': perfil=='edward'}">
      <button class="menu-close" (click)="closeOpen()">
        <i class="fas fa-times"></i>
      </button>
      <h3 class="text-sm text-uppercase text-gray-md tracking-wide">ingeniero civil</h3>
      <h2 class="text-lg text-bold text-black text-uppercase">Edward Medrano Lahura</h2>
      <h3 class="text-md text-uppercase text-c-second tracking-wide">Jefe de Ingeniería</h3>
      <div class="team-bio-details">

        <div class="row">
          <div class="value"><p>Ingeniero Civil de profesión con experiencia en la dirección, supervisión y gestión de
            costos en proyectos de Infraestructura y edificaciones.
            <br>
            <br>
            Cuenta con estudios de posgrado en BIM Management
            por la Universidad Politécnica de Catalunya - Barcelona y especialización en Planificación y Control de
            Proyectos de Construcción por la Universidad Peruana de Ciencias Aplicadas - UPC. Ha participado como Jefe
            de Costos y Presupuestos, Jefe de Producción y Jefe de Proyectos en distintas empresas y obras a nivel
            nacional. </p>
          </div>
        </div>
      </div>
    </div>
    <div class=" team-modal" [ngClass]="{'active': perfil=='andres'}">
      <button class="menu-close" (click)="closeOpen()">
        <i class="fas fa-times"></i>
      </button>
      <h3 class="text-sm text-uppercase text-gray-md tracking-wide">ingeniero civil</h3>
      <h2 class="text-lg text-bold text-black text-uppercase">Andres O. Romero Mego</h2>
      <h3 class="text-md text-uppercase text-c-second tracking-wide">Jefe de Proyectos</h3>
      <div class="team-bio-details">

        <div class="row">
          <div class="value"><p>Ingeniero Civil Colegiado con CIP 167972 con 10 años de experiencia en el rubro de la
            construcción, con altos conocimientos en la especialidad del diseño y cálculo estructural.
            <br>
            <br>
            Cuenta con amplia experiencia en la gestión de proyectos bajo los estándares del PMI, en la
            dirección de obras de
            infraestructuras bajo la filosofía Lean Construction (Edificios multifamiliares, centros educativos y
            retail), con conocimientos de dirección de proyectos de puentes en provincias del Perú; así como en
            construcción de obras de arte en minería.
            <br>
            <br>
            Cuenta con estudios en Gestión de la calidad para la construcción
            bajo los estándares del PMI, con diploma de Especialización en planificación y control de proyectos de
            construcción, diploma de Especialización en BIM MANAGEMENT - CATALUNYA - ESPAÑA, capacitación en Residencia
            de Obra - CIP y capacitación en Gestión de la Calidad estándares del PMI - PUCP. </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
