<div class="hero article-hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-5xl text-white text-uppercase text-bold fade-up">
            INGENIERÍA
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="article-image bg-white">-->
<!--  <div class="grid-container">-->
<!--    <div class="grid-x align-center">-->
<!--      <div class="cell">-->
<!--        <img src="../../assets/img/Ingenieria/Top-Ing.jpg"/>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="content bg-white ">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-8 xlarge-8 rich-text">
        <p class="p-service">Aplicamos la Ingeniería de detalle enfocada en generar valor, lo cual garantiza el éxito del proyecto y
          satisfacción asegurada a nuestros clientes a través de una clara concepción de sus requerimientos.</p>
      </div>
    </div>
  </div>
</div>

<div class="gallery-container bg-white">
  <owl-carousel-o [options]="customInge">
    <ng-template carouselSlide>
      <img class="carousel-cell service-slide" src="assets/img/Ingenieria/1-ing.jpg"/>
    </ng-template>
    <ng-template carouselSlide>
      <img class="carousel-cell service-slide" src="assets/img/Ingenieria/2-ing.jpg"/>
    </ng-template>
    <ng-template carouselSlide>
      <img class="carousel-cell service-slide" src="assets/img/Ingenieria/3-ing.jpg"/>
    </ng-template>

  </owl-carousel-o>

</div>

<div class="content bg-white ">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-8 xlarge-8 mb-md">
        <ul class="list-service">
          <li>Diseño e Ingeniería de Valor (Estructuras, Sanitarias, Eléctricas, HVAC, Mecánicas, entre otros.)</li>
          <li>Estudios preliminares y anteproyectos</li>
          <li>Elaboración de Expedientes Técnicos.</li>
          <li>Propuestas de solución ingenieril para clientes específicos</li>
          <li>Análisis de Estructuras y Reforzamiento de viviendas.</li>
          <li>Estudios Ambientales e Impacto Ambiental</li>
          <li>Estudios Geotécnicos</li>
          <li>Estudio de mecánica de suelos.</li>
        </ul>
      </div>
    </div>
    <div class="grid-x align-center">
      <a class="btn btn-stroke btn-black" routerLink="/services">
        <span>NUESTROS SERVICIOS</span>
      </a>
    </div>
  </div>
</div>
<div class="content "
     style="background: transparent linear-gradient(120deg, #7CC6BF 0%, #7BB9BB 9%, #715B9A 78%, #6F4292 100%) 0% 0% no-repeat padding-box;">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="home-projects-header">
          <h2 class="text-sm text-uppercase text-bold tracking-wide text-white line-heading fade-up"
              style="visibility: visible;">
            PROYECTOS ACTUALES </h2>
          <a class="text-sm text-uppercase text-bold text-white tracking-wide fade-up"
             routerLink="/projects" style="visibility: visible;">ver todo</a>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <ul class="card-list related-projects fade-up slick-initialized slick-slider slick-dotted"
            style="visibility: visible;">
          <div class="slick-list draggable">
            <app-carousel-holder></app-carousel-holder>
          </div>

        </ul>
      </div>
    </div>
  </div>
</div>
