<header class="site-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="header-inner">
          <a class="logo" href="/">
            <div id="lottie"></div>
          </a>
          <button class="menu-trigger hide-for-large">
            <!--
              <i class="material-icons">menu</i>
              -->
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </button>
          <nav class="show-for-large">
            <ul id="menu-primary-menu" class="">
              <li id="menu-item-308"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
                title="Home" href="https://gmcontractors.co.uk/">Home</a></li>
              <li id="menu-item-133"
                  class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-133 active">
                <a title="Services" href="https://gmcontractors.co.uk/services/">Services</a></li>
              <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a
                title="Projects" href="https://gmcontractors.co.uk/projects/">Projects</a></li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a
                title="About" href="https://gmcontractors.co.uk/about/">About</a></li>
              <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a
                title="Contact" href="https://gmcontractors.co.uk/contact/">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="menu">
  <button class="menu-close">
    <i class="material-icons">close</i>
  </button>
  <div class="top">
    <nav>
      <ul id="menu-primary-menu-1" class="">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
          title="Home" href="https://gmcontractors.co.uk/">Home</a></li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-9 current_page_item menu-item-133 active">
          <a title="Services" href="https://gmcontractors.co.uk/services/">Services</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a title="Projects"
                                                                                              href="https://gmcontractors.co.uk/projects/">Projects</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a title="About"
                                                                                              href="https://gmcontractors.co.uk/about/">About</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a title="Contact"
                                                                                              href="https://gmcontractors.co.uk/contact/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bottom">
    <div class="menu-contact">
      <a href="tel:01339884433">
        <i class="material-icons">phone</i>
      </a>
      <a href="mailto:enquiries@gmcontractors.co.uk">
        <i class="material-icons">mail</i>
      </a>
    </div>
    <a class="menu-cta">Start a project</a>
  </div>
</div>
<div class="menu-mask"></div>
<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-5xl text-white text-uppercase text-bold m-0 fade-up">
            Services </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image"
       style="background-image: url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/gm_workshop2.jpg');"></div>
</div>
<div class="content bg-gray-ltr">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="service-list">
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/construction-hero.jpg');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">Construction</h2>
                <p>
                <p>Building your dream home is a truly exciting prospect, but it can also be daunting. With extensive
                  experience under our belt, we know a thing or two about the process.
                </p>
                <a class="btn btn-stroke btn-black" href="https://gmcontractors.co.uk/services/construction/">
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/timber_systems-e1573059391750.jpg');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">Timber Systems</h2>
                <p>
                <p>Make the best of your budget. At Gordon Mitchell Contractors we work with our clients - and
                  architects - to design and build bespoke timber frames for supply across the UK.</p>
                <a class="btn btn-stroke btn-black" href="https://gmcontractors.co.uk/services/timber-systems/">
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/gallery-workshop-3-e1573059346746.jpg');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">Plant Hire</h2>
                <p>
                <p>We stock a fleet of high quality, well maintained plant for hire. These machines are hired out with
                  one of our crew of specialised drivers.</p>
                <a class="btn btn-stroke btn-black" href="https://gmcontractors.co.uk/services/plant-hire/">
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/haulage-2-e1573059416146.jpg');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">Haulage</h2>
                <p>
                <p>Haulage is about so much more than sitting behind a wheel; it’s about knowing how to navigate the
                  land to ensure that shipments are delivered safely and on time.</p>
                <a class="btn btn-stroke btn-black" href="https://gmcontractors.co.uk/services/haulage/">
                  <span>Learn more</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-cta"
     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/11/drone_NEW.jpg');">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell text-center">
        <div class="inner">
          <h2 class="text-2xl text-bold text-uppercase text-white fade-up">Ready to discuss your next project?</h2>
          <a class="btn btn-primary fade-up" href="https://gmcontractors.co.uk/terms-conditions/">
            <span>Get in touch</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="58.646" height="28" viewBox="0 0 58.646 28" class="logo">
          <g transform="translate(-0.025 0.001)">
            <path d="M142.427.5V28.111H137.08V5.847Z" transform="translate(-83.756 -0.306)" fill="#55585d"/>
            <path
              d="M14.015,22.652A8.653,8.653,0,1,1,20.132,7.874l3.784-3.784A14,14,0,1,0,14.015,28h8.023l-5.347-5.347Z"
              transform="translate(0)" fill="#55585d"/>
            <path d="M48.388,44.314V36H40.07Z" transform="translate(-24.472 -22.001)" fill="#55585d"/>
            <path d="M75.21,51.877h5.347v-7.14L75.21,39.39Z" transform="translate(-45.947 -24.072)" fill="#55585d"/>
            <path d="M75.21.5,94.732,20.022l-3.78,3.784L75.21,8.064Z" transform="translate(-45.947 -0.306)"
                  fill="#55585d"/>
          </g>
        </svg>
      </div>
      <div class="cell large-auto show-for-medium">
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/projects/">Projects</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/services/">Services</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://gmcontractors.co.uk/about/">About</a>
            </li>
            <!--
<li>
<a href="/news/">News</a>
</li>
-->
            <li>
              <a href="https://gmcontractors.co.uk/contact/">Contact</a>
            </li>

          </ul>
          <ul class="secondary">
            <li>
              <a href="https://gmcontractors.co.uk/terms-conditions/">Terms</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/privacy-cookies-policy/">Privacy</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="cell medium-shrink text-center">
        <a class="btn btn-stroke btn-white" href="https://gmcontractors.co.uk/contact/">
          <span>Start a project</span>
        </a>
      </div>
    </div>
    <div class="grid-x align-middle footer-bottom">
      <div class="cell show-for-large large-2"></div>
      <div class="cell medium-auto">
        <ul class="text-gray-dk text-sm copyright">
          <li>&copy; 2021 Gordon Mitchell Contractors</li>
          <li>Design & Build by <a href="https://www.form-digital.com/" target="_blank">Form Digital</a></li>
        </ul>
      </div>
      <div class="cell medium-shrink">
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/company/gordon-mitchell-contractors/about/" target="_blank">
              <i class="fab fa-linkedin"></i>
              <!--facebook-square-->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>




