<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-4xl text-white text-uppercase text-bold m-0 fade-up">
            Hecha un vistazo a lo que ofrecemos </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image"
       style="background-image: url('assets/img/Menu/Img2.jpg');"></div>
</div>
<div class="content bg-gray-ltr">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="service-list">
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('assets/img/9PnjBiSReM.png');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">INGENIERÍA</h2>
                <p>
                <p class="text-justify">Aplicamos la Ingeniería de detalle enfocada en generar valor, lo cual garantiza
                  el éxito del proyecto
                  y satisfacción asegurada a nuestros clientes a través de una clara concepción de sus
                  requerimientos.</p>
                <a class="btn btn-stroke btn-black" routerLink="/ingeneria">
                  <span>Leer más</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('assets/img/BIM/VDC_BIM.jpg');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">VDC - BIM</h2>
                <p class="text-justify"> La aplicación de la metodología VDC (Virtual Design and Construciton) brinda
                  las herramientas necesarias para gestionar proyectos de construcción e infraestructura en conjunto con
                  las herramientas BIM</p>


                <a class="btn btn-stroke btn-black" routerLink="/bim">
                  <span>Leer más</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('assets/img/pexels-pixabay-461w67.png');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">SUPERVISIÓN</h2>
                <p class="text-justify">Nuestros profesionales altamente capacitados han dirigido y supervisado de
                  manera eficiente obras
                  públicas y privadas aplicando metodologías que garantizan el éxito de cada proyecto.</p>
                <a class="btn btn-stroke btn-black" routerLink="/supervision">
                  <span>Leer más</span>
                </a>
              </div>
            </div>
          </div>
          <div class="service fade-up">
            <div class="image"
                 style="background-image:url('assets/img/pexels-pixabay-46167a.png');"></div>
            <div class="text">
              <div class="inner">
                <h2 class="text-2xl text-bold text-uppercase text-black">DIRECCIÓN Y GESTIÓN DE PROYECTOS</h2>
                <p class="text-justify">Basada en metodologías de gestión de proyectos, garantizamos de manera eficiente
                  el cumplimiento de los objetivos del cliente,
                  gestionando de manera integral el proyecto de inicio a fin.</p>
                <a class="btn btn-stroke btn-black" routerLink="/direccion">
                  <span>Leer más</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
