<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-4xl text-white text-uppercase text-bold m-0 fade-up">
            CONOCE NUESTROS RESULTADOS
          </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image"
       style="background-image: url('assets/img/Menu/Img3.jpg');"></div>
</div>
<div><!-- Sticky container -->

  <div class="tabs-container bg-gray-ltr">
    <div class="grid-container">
      <div class="grid-x align-center">
        <div class="cell">
          <div class="hide-for-medium">
            <select data-menu>
              <option class="dropdown-item filter" data-filter="*">Todo</option>
              <option class="dropdown-item filter" data-filter=".mix-commercial">Edificaciones</option>
              <option class="dropdown-item filter" data-filter=".mix-residential">industrial</option>
              <option class="dropdown-item filter" data-filter=".mix-new-build">infraestructura</option>
              <option class="dropdown-item filter" data-filter=".mix-renovation">retail</option>
              <option class="dropdown-item filter" data-filter=".mix-renovation">educativo</option>
            </select>
          </div>
          <div class="tabs">
            <button class="dropdown-item filter" data-filter="*">Todo</button>
            <button class="dropdown-item filter" data-filter=".mix-commercial">Edificaciones</button>
            <button class="dropdown-item filter" data-filter=".mix-residential">industrial</button>
            <button class="dropdown-item filter" data-filter=".mix-new-build">infraestructura</button>
            <button class="dropdown-item filter" data-filter=".mix-renovation">retail</button>
            <button class="dropdown-item filter" data-filter=".mix-renovation">educativo</button>
            <a class="btn btn-tabs fade-up" href="assets/BrochureCorporativo-MIRAS.pdf">
              <img src="assets/img/005-downloading2.png" alt="">
              <span>PORTAFOLIO <br> DE PROYECTOS</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content bg-gray-ltr">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <ul class="card-list container-mix">
            <li class="card mix mix-residential mix-renovation" category="">
              <a style="cursor:auto">
                <div class="image">
                  <div class="inner"
                       style="background-image:url('assets/img/proyecto1.jpg');"></div>
                </div>
                <div class="text">
                  <div class="top">
                    <h2 class="text-lg text-bold text-black text-uppercase">Edificio Mirador II – Origen Breña</h2>
                    <div class="category-list">
                      <button>Residencial</button>
                      <button>Renovacion</button>
                    </div>
                  </div>

                </div>
              </a>
            </li>
            <li class="card mix mix-residential mix-new-build "
                category="">
              <a style="cursor:auto">
                <div class="image">
                  <div class="inner"
                       style="background-image:url('assets/img/proyecto2.jpg');"></div>
                </div>
                <div class="text">
                  <div class="top">
                    <h2 class="text-lg text-bold text-black text-uppercase">Claro Minka – Callao</h2>
                    <div class="category-list">
                      <button>Residencial</button>
                      <button>nuevo</button>
                    </div>
                  </div>

                </div>
              </a>
            </li>
            <li class="card mix	mix-residential mix-new-build 	                        "
                category="">
              <a style="cursor:auto">
                <div class="image">
                  <div class="inner"
                       style="background-image:url('assets/img/proyecto3.jpg');"></div>
                </div>
                <div class="text">
                  <div class="top">
                    <h2 class="text-lg text-bold text-black text-uppercase">7 Sopas – Surquillo</h2>
                    <div class="category-list">
                      <button>Residencial</button>
                      <button>nuevo</button>
                    </div>
                  </div>

                </div>
              </a>
            </li>
            <li class="card mix
	                        mix-commercial mix-new-build 	                        " category="">
              <a style="cursor:auto">
                <div class="image">
                  <div class="inner"
                       style="background-image:url('assets/img/proyecto4.jpg');"></div>
                </div>
                <div class="text">
                  <div class="top">
                    <h2 class="text-lg text-bold text-black text-uppercase">Edificio Los Negocios – Surquillo</h2>
                    <div class="category-list">
                      <button>Comercial</button>
                      <button>nuevo</button>
                    </div>
                  </div>

                </div>
              </a>
            </li>
            <li class="card mix
	                        mix-commercial mix-new-build 	                        " category="">
              <a style="cursor:auto">
                <div class="image">
                  <div class="inner"
                       style="background-image:url('assets/img/proyecto5.jpg');"></div>
                </div>
                <div class="text">
                  <div class="top">
                    <h2 class="text-lg text-bold text-black text-uppercase">Edificio Los Negocios - Surquillo</h2>
                    <div class="category-list">
                      <button>Comercial</button>
                      <button>nuevo</button>
                    </div>
                  </div>

                </div>
              </a>
            </li>
            <li class="card mix
	                        mix-commercial mix-new-build 	                        " category="">
              <a style="cursor:auto">
                <div class="image">
                  <div class="inner"
                       style="background-image:url('assets/img/proyecto6.jpg');"></div>
                </div>
                <div class="text">
                  <div class="top">
                    <h2 class="text-lg text-bold text-black text-uppercase">Edificio Los Negocios - Surquillo</h2>
                    <div class="category-list">
                      <button>Comercial</button>
                      <button>nuevo</button>
                    </div>
                  </div>

                </div>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>

</div><!-- Sticky container end -->
