<header class="site-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="header-inner">
          <a class="logo" href="/">
            <div id="lottie"></div>
          </a>
          <button class="menu-trigger hide-for-large">
            <!--
              <i class="material-icons">menu</i>
              -->
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </button>
          <nav class="show-for-large">
            <ul id="menu-primary-menu" class="">
              <li id="menu-item-308"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
                title="Home" href="https://gmcontractors.co.uk/">Home</a></li>
              <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a
                title="Services" href="https://gmcontractors.co.uk/services/">Services</a></li>
              <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a
                title="Projects" href="https://gmcontractors.co.uk/projects/">Projects</a></li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a
                title="About" href="https://gmcontractors.co.uk/about/">About</a></li>
              <li id="menu-item-137"
                  class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15 current_page_item menu-item-137 active">
                <a title="Contact" href="https://gmcontractors.co.uk/contact/">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="menu">
  <button class="menu-close">
    <i class="material-icons">close</i>
  </button>
  <div class="top">
    <nav>
      <ul id="menu-primary-menu-1" class="">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
          title="Home" href="https://gmcontractors.co.uk/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a title="Services"
                                                                                              href="https://gmcontractors.co.uk/services/">Services</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a title="Projects"
                                                                                              href="https://gmcontractors.co.uk/projects/">Projects</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a title="About"
                                                                                              href="https://gmcontractors.co.uk/about/">About</a>
        </li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15 current_page_item menu-item-137 active">
          <a title="Contact" href="https://gmcontractors.co.uk/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
  <div class="bottom">
    <div class="menu-contact">
      <a href="tel:01339884433">
        <i class="material-icons">phone</i>
      </a>
      <a href="mailto:enquiries@gmcontractors.co.uk">
        <i class="material-icons">mail</i>
      </a>
    </div>
    <a class="menu-cta">Start a project</a>
  </div>
</div>
<div class="menu-mask"></div>
<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-4xl text-white text-uppercase text-bold leading-tight m-0 fade-up">
            Get in touch with us about your next construction project </h1>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image"
       style="background-image: url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/timber_systems-e1573059391750.jpg');"></div>
</div>
<div class="content bg-gray-dkst">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell large-7">
        <img class="location-img"
             src="https://gmcontractors.co.uk/wp-content/themes/gm_theme/assets/img/content/contact/map.svg">
      </div>
      <div class="cell large-5">
        <p class="text-gray-lt fade-up">If you would like to discuss your next construction project or for future
          employment queries, please do not hesitate to complete the enquiry form (below) or send us an email at <a
            href="mailto:enquiries@gmcontractors.co.uk">enquiries@gmcontractors.co.uk</a></p>
        <p class="text-gray-lt fade-up">For all Timber Systems enquiries please contact <a
          href="mailto:enquiries@gmtimbersystems.co.uk">enquiries@gmtimbersystems.co.uk</a></p>
        <h2 class="text-sm text-bold text-uppercase text-gray-dk tracking-wide fade-up">Find us</h2>
        <p class="text-gray-lt fade-up">
          <a class="contact-link"
             href="https://www.google.com/maps/place/Haugh+of+Sluie,+Banchory+AB31+4BA/@57.0617341,-2.6280279,17z/data=!4m13!1m7!3m6!1s0x48842fc3599bd0c1:0xed341ef548d01848!2sHaugh+of+Sluie,+Banchory+AB31+4BA!3b1!8m2!3d57.0617341!4d-2.6258339!3m4!1s0x48842fc3599bd0c1:0xed341ef548d01848!8m2!3d57.0617341!4d-2.6258339"
             target="_blank">Haugh of Sluie<br/>
            Potarch, Banchory<br/>
            Aberdeenshire, AB31 4BA</a>
        </p>
        <h2 class="text-sm text-bold text-uppercase text-gray-dk tracking-wide fade-up">Call</h2>
        <p class="text-gray-lt fade-up"><a class="contact-link" href="tel:01339884433">01339 884433</a></p>
        <h2 class="text-sm text-bold text-uppercase text-gray-dk tracking-wide fade-up">Connect</h2>
        <ul class="social fade-up">
          <li>
            <a href="https://www.linkedin.com/company/gordon-mitchell-contractors/about/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
        <a class="btn btn-stroke btn-white fade-up"
           href="https://www.google.com/maps/place/Haugh+of+Sluie,+Banchory+AB31+4BA/@57.0617341,-2.6280279,17z/data=!4m13!1m7!3m6!1s0x48842fc3599bd0c1:0xed341ef548d01848!2sHaugh+of+Sluie,+Banchory+AB31+4BA!3b1!8m2!3d57.0617341!4d-2.6258339!3m4!1s0x48842fc3599bd0c1:0xed341ef548d01848!8m2!3d57.0617341!4d-2.6258339"
           target="_blank"><span>Find us on google maps</span></a>
      </div>
    </div>
  </div>
</div>

<div class="img-banner"
     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/10/gm_contact.jpg');"></div>

<div class="content bg-gray-ltr">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-9 xlarge-7">
        <div role="form" class="wpcf7" id="wpcf7-f17-o1" lang="en" dir="ltr">
          <div class="screen-reader-response"></div>
          <form action="/contact/#wpcf7-f17-o1" method="post" class="wpcf7-form" novalidate="novalidate">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="17"/>
              <input type="hidden" name="_wpcf7_version" value="5.1.6"/>
              <input type="hidden" name="_wpcf7_locale" value="en"/>
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f17-o1"/>
              <input type="hidden" name="_wpcf7_container_post" value="0"/>
              <input type="hidden" name="g-recaptcha-response" value=""/>
            </div>
            <div class="enquiry-form" id="hideform">
              <div class="form-block">
                <label for="name">Name</label>
                <span class="wpcf7-form-control-wrap field-name">
                  <input type="text" name="field-name" value="" size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                         id="name" autocomplete="off"
                         aria-required="true" aria-invalid="false"
                         placeholder="Your name"/>
                </span>
              </div>
              <div class="form-block">
                <label for="email">Email</label>
                <span class="wpcf7-form-control-wrap field-email">
                  <input type="email" name="field-email" value=""
                         size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                         id="email" autocomplete="off"
                         aria-required="true" aria-invalid="false"
                         placeholder="Your email"/></span>
              </div>
              <div class="form-block">
                <label for="tel">Phone</label>
                <span class="wpcf7-form-control-wrap field-tel">
                  <input type="tel" name="field-tel" value="" size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                         id="tel" autocomplete="off" aria-required="true"
                         aria-invalid="false"
                         placeholder="Contact number"/></span>
              </div>
              <div class="form-block">
                <label for="subject">Subject</label>
                <span class="wpcf7-form-control-wrap field-subject">
                  <select name="field-subject"
                          class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                          id="subject" aria-required="true"
                          aria-invalid="false"><option
                    value="Please select..">Please select..</option><option value="Construction">Construction</option><option
                    value="Timber Systems">Timber Systems</option><option value="Plant Hire">Plant Hire</option><option
                    value="Haulage">Haulage</option><option value="Other">Other</option></select></span>
              </div>
              <div class="form-block form-block-full">
                <label for="message">Message</label>
                <span class="wpcf7-form-control-wrap field-enquiry"><textarea name="field-enquiry" cols="40" rows="10"
                                                                              class="wpcf7-form-control wpcf7-textarea"
                                                                              id="message"
                                                                              aria-invalid="false"></textarea></span>
              </div>
              <div class="form-block form-block-full">
                <button id='enquirySubmit' class="btn btn-primary wpcf7-submit">Submit</button>
              </div>
            </div>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
          </form>
        </div>              <!--
                <div class="enquiry-form" id="hideform">
                    <div class="form-block">
                        <label for="name">Name</label>
                        [text* field-name id:name autocomplete:off placeholder "Your name"]
                    </div>
                    <div class="form-block">
                        <label for="email">Email</label>
                        [email* field-email id:email autocomplete:off placeholder "Your email"]
                    </div>
                    <div class="form-block">
                        <label for="phone">Phone</label>
                        [tel* field-tel id:tel autocomplete:off placeholder "Contact number"]
                    </div>
                    <div class="form-block">
                        <label for="subject">Subject</label>
                        [select* field-subject id:subject "Please select.." "Construction" "Timber Systems" "Plant Hire" "Haulage" "Other"]
                    </div>
                    <div class="form-block form-block-full">
                        <label for="message">Message</label>
                        [textarea field-enquiry id:message]
                    </div>
                    <div class="form-block form-block-full">
                    	<button id='enquirySubmit' class="btn btn-primary wpcf7-submit">Submit</button>
                    </div>
                </div>
               	-->
      </div>
    </div>
  </div>
</div>

<div class="contact-cta"
     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/11/drone_NEW.jpg');">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell text-center">
        <div class="inner">
          <h2 class="text-2xl text-bold text-uppercase text-white fade-up">Ready to discuss your next project?</h2>
          <a class="btn btn-primary fade-up" href="https://gmcontractors.co.uk/terms-conditions/">
            <span>Get in touch</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="58.646" height="28" viewBox="0 0 58.646 28" class="logo">
          <g transform="translate(-0.025 0.001)">
            <path d="M142.427.5V28.111H137.08V5.847Z" transform="translate(-83.756 -0.306)" fill="#55585d"/>
            <path
              d="M14.015,22.652A8.653,8.653,0,1,1,20.132,7.874l3.784-3.784A14,14,0,1,0,14.015,28h8.023l-5.347-5.347Z"
              transform="translate(0)" fill="#55585d"/>
            <path d="M48.388,44.314V36H40.07Z" transform="translate(-24.472 -22.001)" fill="#55585d"/>
            <path d="M75.21,51.877h5.347v-7.14L75.21,39.39Z" transform="translate(-45.947 -24.072)" fill="#55585d"/>
            <path d="M75.21.5,94.732,20.022l-3.78,3.784L75.21,8.064Z" transform="translate(-45.947 -0.306)"
                  fill="#55585d"/>
          </g>
        </svg>
      </div>
      <div class="cell large-auto show-for-medium">
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/projects/">Projects</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/services/">Services</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://gmcontractors.co.uk/about/">About</a>
            </li>

            <li>
              <a href="https://gmcontractors.co.uk/contact/">Contact</a>
            </li>

          </ul>
          <ul class="secondary">
            <li>
              <a href="https://gmcontractors.co.uk/terms-conditions/">Terms</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/privacy-cookies-policy/">Privacy</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="cell medium-shrink text-center">
        <a class="btn btn-stroke btn-white" href="https://gmcontractors.co.uk/contact/">
          <span>Start a project</span>
        </a>
      </div>
    </div>
    <div class="grid-x align-middle footer-bottom">
      <div class="cell show-for-large large-2"></div>
      <div class="cell medium-auto">
        <ul class="text-gray-dk text-sm copyright">
          <li>&copy; 2021 Gordon Mitchell Contractors</li>
          <li>Design & Build by <a href="https://www.form-digital.com/" target="_blank">Form Digital</a></li>
        </ul>
      </div>
      <div class="cell medium-shrink">
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/company/gordon-mitchell-contractors/about/" target="_blank">
              <i class="fab fa-linkedin"></i>
              <!--facebook-square-->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
