<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-4xl text-white text-uppercase text-bold leading-tight m-0 fade-up">HABLEMOS SOBRE TU PRÓXIMO
            PROYECTO</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image"
       style="background-image: url('/assets/img/pexels-henry-&-co-1134192a.png');"></div>
</div>
<div class="content bg-gray-dkst">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell large-6">
        <img class="location-img"
             src="assets/img/MAp.svg">
      </div>
      <div class="cell large-6" style="position: relative">

        <p class="text-black fade-up text-light">Si desea discutir su próximo proyecto de
          Ingeniería o para futuras consultas no dude
          en completar el formulario
          de consulta (a continuación).

        <p class="text-black fade-up text-light">Para todas las consultas sobre MIRAS, póngase en
          contacto con <a href="mailto:proyectos@miras.pe">proyectos@miras.pe</a></p>

        <h2 class="text-md text-bold text-uppercase text-black text-bold fade-up">NUESTRA OFICINA</h2>
        <p class="text-black fade-up text-light">Calle Alfa Centauro 151 oficina 301 - Surquillo Lima - Perú.</p>
        <br>
        <h3 class="text-md text-bold text-uppercase text-black text-bold fade-up">CONTACTO</h3>
        <a href="tel:+51949477880" class="text-black fade-up text-light">949 477 880 </a> <br>
        <a href="tel:+51957646994" class="text-black fade-up text-light">957 646 994</a> <br>
        <div class="social-contact">
          <a href="https://www.linkedin.com/company/" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
          <br>
          <a href="https://www.linkedin.com/company/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <a class="btn btn-stroke btn-black fade-up" style="width: 100%"
        href="https://www.google.com/maps/place/Alfa+Centauro+149,+Distrito+de+Lima+15038/@-12.114944,-77.0036479,21z/data=!4m5!3m4!1s0x9105c7e46247cd45:0x41c0eb1bb9da071e!8m2!3d-12.1148867!4d-77.0036565"
        target="_blank"><span>ENCUÉNTRANOS EN GOOGLE MAPS</span></a>

      </div>
    </div>
  </div>
</div>

<div class="img-banner"
     style="background-image:url('assets/img/Menu/Img6.jpg');"></div>

<div class="content bg-gray-ltr">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-9 xlarge-7">
        <div role="form" class="wpcf7" id="wpcf7-f17-o1" lang="en" dir="ltr">
          <div class="screen-reader-response"></div>
          <form action="/contact/#wpcf7-f17-o1" method="post" class="wpcf7-form" novalidate="novalidate">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="17"/>
              <input type="hidden" name="_wpcf7_version" value="5.1.6"/>
              <input type="hidden" name="_wpcf7_locale" value="en"/>
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f17-o1"/>
              <input type="hidden" name="_wpcf7_container_post" value="0"/>
              <input type="hidden" name="g-recaptcha-response" value=""/>
            </div>
            <div class="enquiry-form" id="hideform">
              <div class="form-block">
                <label for="name">NOMBRE</label>
                <span class="wpcf7-form-control-wrap field-name">
                  <input type="text" name="field-name" value="" size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                         id="name" autocomplete="off"
                         aria-required="true" aria-invalid="false"
                         placeholder=""/>
                </span>
              </div>
              <div class="form-block">
                <label for="email">E-MAIL</label>
                <span class="wpcf7-form-control-wrap field-email">
                  <input type="email" name="field-email" value=""
                         size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                         id="email" autocomplete="off"
                         aria-required="true" aria-invalid="false"
                         placeholder=""/></span>
              </div>
              <div class="form-block">
                <label for="tel">TELÉFONO</label>
                <span class="wpcf7-form-control-wrap field-tel">
                  <input type="tel" name="field-tel" value="" size="40"
                         class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel"
                         id="tel" autocomplete="off" aria-required="true"
                         aria-invalid="false"
                         placeholder=""/></span>
              </div>
              <div class="form-block">
                <label for="subject">ASUNTO</label>
                <span class="wpcf7-form-control-wrap field-subject">
                  <select name="field-subject"
                          class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required"
                          id="subject" aria-required="true"
                          aria-invalid="false">
                    <option value="SELECCIONE">SELECCIONE</option>
                    <option value="INGENIERÍA">INGENIERÍA</option>
                    <option value="SUPERVISIÓN">SUPERVISIÓN</option>
                    <option value="DIRECCIÓN">DIRECCIÓN Y GESTIÓN DE PROYECTOS</option>
                    <option value="BIM">BIM / VDC</option>
                    <option value="Other">Otros</option>
                  </select>
                </span>
              </div>
              <div class="form-block form-block-full">
                <label for="message">MENSAJE</label>
                <span class="wpcf7-form-control-wrap field-enquiry">
                  <textarea name="field-enquiry" cols="40" rows="10"
                            class="wpcf7-form-control wpcf7-textarea"
                            id="message"
                            aria-invalid="false"></textarea></span>
              </div>
              <div class="form-block form-block-full">
                <button id='enquirySubmit' class="btn btn-primary wpcf7-submit">Enviar</button>
              </div>
            </div>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


