<div class="hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-4xl text-white text-uppercase text-bold m-0 fade-up">HABLEMOS SOBRE TU PRÓXIMO
            PROYECTO</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-image"
       style="background-image: url('/assets/img/pexels-henry-&-co-1134192a.png');"></div>
</div>
<div class="content bg-gray-dkst">
  <div class="grid-container">
    <div class="grid-x align-middle">
      <div class="cell large-6">
        <img class="location-img"
             src="assets/img/MAp.svg">
      </div>
      <div class="cell large-6" style="position: relative">

        <p class="text-black fade-up text-light">Si desea discutir su próximo proyecto de
          Ingeniería o para futuras consultas no dude
          en completar el formulario
          de consulta (a continuación).

        <p class="text-black fade-up text-light">Para todas las consultas sobre MIRAS, póngase en
          contacto con <a href="mailto:proyectos@miras.pe">proyectos@miras.pe</a></p>

        <h2 class="text-md text-bold text-uppercase text-black text-bold fade-up">NUESTRA OFICINA</h2>
        <p class="text-black fade-up text-light">Calle Alfa Centauro 151 oficina 301 - Surquillo Lima - Perú.</p>
        <br>
        <h3 class="text-md text-bold text-uppercase text-black text-bold fade-up">CONTACTO</h3>
        <a href="tel:+51949477880" class="text-black fade-up text-light">
          <span style="font-size: 0.8rem;">ING. EDWARD MEDRANO LAHURA</span><br>
          +51 949 477 880</a> <br><br>
        <a href="tel:+51957646994" class="text-black fade-up text-light">
          <span style="font-size: 0.8rem;">ING. ANDRÉS ROMERO MEGO</span><br>
          +51 957 646 994</a> <br>
        <div class="social-contact">
          <a href="https://www.linkedin.com/company/" target="_blank">
            <i class="fab fa-whatsapp"></i>
          </a>
          <br>
          <a href="https://www.linkedin.com/company/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
        <a class="btn btn-stroke btn-black fade-up" style="width: 100%"
           href="https://www.google.com/maps/place/Alfa+Centauro+149,+Distrito+de+Lima+15038/@-12.114944,-77.0036479,21z/data=!4m5!3m4!1s0x9105c7e46247cd45:0x41c0eb1bb9da071e!8m2!3d-12.1148867!4d-77.0036565"
           target="_blank"><span>ENCUÉNTRANOS EN GOOGLE MAPS</span></a>

      </div>
    </div>
  </div>
</div>

<div class="img-banner"
     style="background-image:url('assets/img/Menu/Img6.jpg');"></div>

<div class="content bg-gray-ltr">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-9 xlarge-7">
        <div role="form" class="" lang="en" dir="ltr">
          <form novalidate [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="enquiry-form">
              <div class="form-block">
                <span class=" field-tel">
                <label>NOMBRE</label>
                <input class=""
                       name="name"
                       type="text"
                       id="name"
                       formControlName="name"
                       ngModel
                       required>
                  <span *ngIf="nameNotValid" class="alert">el campo es requerido</span>
                </span>
              </div>
              <div class="form-block">

                <span class=" field-tel">
                <label>E-MAIL</label>
                <input type="email"
                       name="email"
                       formControlName="email"
                       id="email"
                       placeholder=""
                       ngModel
                       required
                       class=" ">
                <span *ngIf="emailNotValid" class="alert">el campo es requerido</span>
                </span>
              </div>
              <div class="form-block">
                <span class=" field-tel">
                <label for="tel">TELÉFONO</label>
                <input type="tel"
                       name="tel"
                       class=""
                       formControlName="tel"
                       ngModel
                       required
                       id="tel"
                       placeholder=""/>

                <span *ngIf="telNotValid" class="alert">el campo es requerido</span>
                </span>
              </div>
              <div class="form-block">
                <span class=" field-tel">
                <label>ASUNTO</label>
                <select name="subject"
                        class=" "
                        formControlName="subject"
                        ngModel
                        required
                        id="subject">
                  <option value="SELECCIONE">SELECCIONE</option>
                  <option value="INGENIERÍA">INGENIERÍA</option>
                  <option value="SUPERVISIÓN">SUPERVISIÓN</option>
                  <option value="DIRECCIÓN">DIRECCIÓN Y GESTIÓN DE PROYECTOS</option>
                  <option value="BIM">VDC - BIM</option>
                  <option value="Other">Otros</option>
                </select>

                <span *ngIf="subjectNotValid" class="alert">el campo es requerido</span>
                </span>
              </div>
              <div class="form-block form-block-full">
                <label for="message">MENSAJE</label>
                <textarea name="message" cols="40" rows="10"
                          class=" area"
                          id="message"
                          formControlName="message"
                          ngModel
                          required
                          aria-invalid="false"></textarea>

                <span *ngIf="messageNotValid" class="alert">el campo es requerido</span>
              </div>
              <div class="form-block form-block-full">
                <button id='' type="submit" [ngClass]="{'active': !form.invalid}" [disabled]="form.invalid"
                        class="btn btn-primary ">Enviar
                </button>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>


