<header class="site-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="header-inner">
          <a class="logo" href="/">
            <div id="lottie"></div>
          </a>
          <button class="menu-trigger hide-for-large">
            <!--
              <i class="material-icons">menu</i>
              -->
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </button>
          <nav class="show-for-large">
            <ul id="menu-primary-menu" class="">
              <li id="menu-item-308"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
                title="Home" href="https://gmcontractors.co.uk/">Home</a></li>
              <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a
                title="Services" href="https://gmcontractors.co.uk/services/">Services</a></li>
              <li id="menu-item-134"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134 current_page_parent"><a
                title="Projects" href="https://gmcontractors.co.uk/projects/">Projects</a></li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a
                title="About" href="https://gmcontractors.co.uk/about/">About</a></li>
              <li id="menu-item-137" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a
                title="Contact" href="https://gmcontractors.co.uk/contact/">Contact</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="menu">
  <button class="menu-close">
    <i class="material-icons">close</i>
  </button>
  <div class="top">
    <nav>
      <ul id="menu-primary-menu-1" class="">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
          title="Home" href="https://gmcontractors.co.uk/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a title="Services"
                                                                                              href="https://gmcontractors.co.uk/services/">Services</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134 current_page_parent"><a
          title="Projects" href="https://gmcontractors.co.uk/projects/">Projects</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a title="About"
                                                                                              href="https://gmcontractors.co.uk/about/">About</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a title="Contact"
                                                                                              href="https://gmcontractors.co.uk/contact/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bottom">
    <div class="menu-contact">
      <a href="tel:01339884433">
        <i class="material-icons">phone</i>
      </a>
      <a href="mailto:enquiries@gmcontractors.co.uk">
        <i class="material-icons">mail</i>
      </a>
    </div>
    <a class="menu-cta">Start a project</a>
  </div>
</div>
<div class="menu-mask"></div>
<div class="hero article-hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-5xl text-white text-uppercase text-bold fade-up">Lynwood</h1>
          <div class="category-list fade-up">
            <button>Residential</button>
            <button>New Build</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="article-image bg-white">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell">
        <div class="project-gallery-container">
          <div class="project-gallery">
            <div class="project-gallery-slide"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_2-e1573060738923.jpg');"></div>
            <div class="project-gallery-slide"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_4-e1573060659409.jpg');"></div>
            <div class="project-gallery-slide"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_5-e1573060675475.jpg');"></div>
            <div class="project-gallery-slide"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_6-e1573060692586.jpg');"></div>
            <div class="project-gallery-slide"
                 style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_3-e1573060708334.jpg');"></div>
          </div>
          <button class="project-gallery-arrow prev">
            <i class="material-icons">arrow_back</i>
          </button>
          <button class="project-gallery-arrow next">
            <i class="material-icons">arrow_forward</i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content bg-white">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-9 xlarge-7">
        <ul class="project-details">
          <li>
            <div class="title">Location</div>
            <div class="value">Aberdeenshire</div>
          </li>
          <li>
            <div class="title">Completion Date</div>
            <div class="value">May 2016</div>
          </li>
          <li>
            <div class="title">Architect</div>
            <div class="value">
              <a href="http://www.ab-architects.co.uk/" target="_blank">
                AB Architects </a>
            </div>
          </li>
          <li>
            <div class="title">Services Provided</div>
            <div class="value">
              Construction Timber Systems Excavation
            </div>
          </li>
        </ul>
        <div class="rich-text">
          <p><strong>Family home is perfect example of high-end innovative construction.</strong></p>
          <p>Located in the suburb of Bieldside, 15 minutes from Aberdeen city centre, Gordon Mitchell Contractors were
            appointed to build a traditional six-bedroom family home.</p>
          <p>The stunning 770m<sup>2</sup> property, accompanied by pristine gardens and an external lounge/kitchen area
            maintains traditional features, whilst boasting a contemporary twist with spotless modern interiors.</p>
          <p>We encountered some challenging elements throughout the project in both preparation and construction
            phases. A full demolition was to take place of a large existing house on the site prior to the scheduled new
            build. The difficulty of this process was exacerbated by the confined working space we were granted due to
            the boundaries set by tree protection specialists from Aberdeen City Council.</p>
          <p>The construction of the new building also shared these same challenges, but due to expert planning,
            co-ordination and communication, the site area was managed effectively.</p>
        </div>
        <div class="rich-text">
          <img src="https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_7.jpg"/>
        </div>
        <div class="rich-text">
          <p>For the duration of the project we worked closely with Alan Forbes Architects and Mcleod &amp; Aitken to
            ensure the build met the brief, and exceeded the customers’ expectations in construction and style.</p>
          <p>Alongside ticking multiple boxes in terms of innovation by utilising new building technologies, this house
            is a perfect example of the high-end construction the GMC team is capable of delivering.</p>
          <p>We were recommended and shortlisted to the client as one of the North-east of Scotland’s top building
            contractors. After a thorough interview process, we were awarded the contract.</p>
          <p>Since then, we have built a great working relationship with the owner and were recently invited back to
            complete an extension on to the rear of the building.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="article-nav bg-white">
  <a class="previous-article" href="https://gmcontractors.co.uk/projects/callater-lodge/"><i class="material-icons">arrow_back</i><span
    class="text">Previous Project</span></a><a class="next-article ml-auto"
                                               href="https://gmcontractors.co.uk/projects/drumnagesk/"><span
  class="text">Next Project</span><i class="material-icons">arrow_forward</i></a></div>

<div class="contact-cta"
     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/11/drone_NEW.jpg');">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell text-center">
        <div class="inner">
          <h2 class="text-2xl text-bold text-uppercase text-white fade-up">Ready to discuss your next project?</h2>
          <a class="btn btn-primary fade-up" href="https://gmcontractors.co.uk/terms-conditions/">
            <span>Get in touch</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="58.646" height="28" viewBox="0 0 58.646 28" class="logo">
          <g transform="translate(-0.025 0.001)">
            <path d="M142.427.5V28.111H137.08V5.847Z" transform="translate(-83.756 -0.306)" fill="#55585d"/>
            <path
              d="M14.015,22.652A8.653,8.653,0,1,1,20.132,7.874l3.784-3.784A14,14,0,1,0,14.015,28h8.023l-5.347-5.347Z"
              transform="translate(0)" fill="#55585d"/>
            <path d="M48.388,44.314V36H40.07Z" transform="translate(-24.472 -22.001)" fill="#55585d"/>
            <path d="M75.21,51.877h5.347v-7.14L75.21,39.39Z" transform="translate(-45.947 -24.072)" fill="#55585d"/>
            <path d="M75.21.5,94.732,20.022l-3.78,3.784L75.21,8.064Z" transform="translate(-45.947 -0.306)"
                  fill="#55585d"/>
          </g>
        </svg>
      </div>
      <div class="cell large-auto show-for-medium">
        <nav>
          <ul>
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/projects/">Projects</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/services/">Services</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="https://gmcontractors.co.uk/about/">About</a>
            </li>
            <!--
<li>
<a href="/news/">News</a>
</li>
-->
            <li>
              <a href="https://gmcontractors.co.uk/contact/">Contact</a>
            </li>

          </ul>
          <ul class="secondary">
            <li>
              <a href="https://gmcontractors.co.uk/terms-conditions/">Terms</a>
            </li>
            <li>
              <a href="https://gmcontractors.co.uk/privacy-cookies-policy/">Privacy</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="cell medium-shrink text-center">
        <a class="btn btn-stroke btn-white" href="https://gmcontractors.co.uk/contact/">
          <span>Start a project</span>
        </a>
      </div>
    </div>
    <div class="grid-x align-middle footer-bottom">
      <div class="cell show-for-large large-2"></div>
      <div class="cell medium-auto">
        <ul class="text-gray-dk text-sm copyright">
          <li>&copy; 2021 Gordon Mitchell Contractors</li>
          <li>Design & Build by <a href="https://www.form-digital.com/" target="_blank">Form Digital</a></li>
        </ul>
      </div>
      <div class="cell medium-shrink">
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/company/gordon-mitchell-contractors/about/" target="_blank">
              <i class="fab fa-linkedin"></i>
              <!--facebook-square-->
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>


