<header class="site-header">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="header-inner">
          <a class="logo" routerLink="/">
            <img class="blanco" src="assets/img/Logo-miras-2.png" alt="">
            <img class="gris" src="assets/img/Logo-mira2s.png" alt="">
            <div id="lottie"></div>
          </a>
          <button class="menu-trigger hide-for-large" (click)="openMenu()">
            <!--
              <i class="material-icons">menu</i>
              -->
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
          </button>
          <nav class="show-for-large">
            <ul id="menu-primary-menu" class="">
              <li id="menu-item-308"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
                title="Home" routerLink="/">Home</a></li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a
                title="About" routerLink="/about">Nosotros</a></li>
              <li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a
                title="Services" routerLink="/services">Servicios</a></li>
              <li id="menu-item-134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a
                title="Projects" routerLink="/projects">Proyectos</a></li>

              <li id="menu-item-137"
                  class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15 current_page_item menu-item-137">
                <a title="Contact" routerLink="/contact">Contacto</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="menu" [ngClass]="{'is-open' : menuState == 'open'}">
  <button class="menu-close" (click)="closeMenu()">
    <i class="fas fa-times"></i>
  </button>
  <div class="top">
    <a class="logo-menu" routerLink="/">
      <img class="blanco" src="assets/img/Logo-miras-2.png" alt="">
    </a>
    <nav>

      <ul id="menu-primary-menu-1" class="">
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-308"><a
          title="Home" (click)="closeMenu()" routerLink="/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135">
          <a title="About" (click)="closeMenu()"
             routerLink="/about">Nosotros</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133">
          <a title="Services" (click)="closeMenu()"
             routerLink="/services">Servicios</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134">
          <a title="Projects" (click)="closeMenu()"
             routerLink="/projects">Proyectos</a>
        </li>
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-15 current_page_item menu-item-137">
          <a title="Contact" (click)="closeMenu()" routerLink="/contact/">Contacto</a></li>
      </ul>

    </nav>
  </div>
</div>
<div class="menu-mask" [ngClass]="{'active' : menuState == 'open'}" (click)="closeMenu()"></div>

<router-outlet></router-outlet>


<div class="contact-cta">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell text-center">
        <div class="inner">
          <h2 class="text-3xl text-bold text-uppercase fade-up"
              style="line-height: 1;">
            ¿ESTAS LISTO PARA TU PRóXIMO PROYECTO?</h2>
          <a routerLink="/contact"><h4 class="text-2xl text-bold text-uppercase label-footer fade-up">PONTE EN CONTACTO
            CON NOSOTROS</h4></a>
          <h4 style="letter-spacing: 4px;" class="text-bold">TAMBIÉN PUEDES DESCARGAR</h4>
          <a class="btn btn-footer fade-up" href="#">
            <img src="assets/img/005-downloading.png" alt="">
            <span>BROCHURE CORPORATIVO</span>
          </a>
          <a class="btn btn-footer fade-up" routerLink="/projects">
            <img src="assets/img/005-downloading2.png" alt="">
            <span>PORTAFOLIO <br> DE PROYECTOS</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="site-footer">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell large-3 medium-3">
        <img class="imgFooter" src="assets/img/Logo-miras-223.png" alt="">
      </div>
      <div class="cell large-8 medium-8 ">


        <nav>
          <ul>
            <li class="title">
              CONTACTO
            </li>
            <li>
              proyectos@miras.pe
            </li>
            <li class="title">
              RUC
            </li>
            <li>
              20607495069
            </li>
          </ul>
          <ul>
            <li class="title">
              NUESTRA OFICINA
            </li>
            <li>
              Calle Alfa Centauro 151 oficina 301
            </li>
            <li>
              Surquillo
            </li>
            <li>
              Lima - Perú.
            </li>
          </ul>
          <!--          <ul class="secondary">-->
          <!--            <li>-->
          <!--              <a routerLink="/terms-conditions">Terminos</a>-->
          <!--            </li>-->
          <!--            <li>-->
          <!--              <a routerLink="/privacy-cookies-policy">Privacidad</a>-->
          <!--            </li>-->
          <!--          </ul>-->
        </nav>
      </div>
      <!--      <div class="cell medium-shrink text-center">-->
      <!--        <a class="btn btn-stroke btn-white" routerLink="/contact">-->
      <!--          <span>Start a project</span>-->
      <!--        </a>-->
      <!--      </div>-->
    </div>
    <div class="grid-x align-middle footer-bottom">
      <div class="cell show-for-large large-3"></div>
      <div class="cell  large-6">
        <ul style="display: block" class="text-white text-sm copyright">
          <li >© 2021 MIRAS.PE INGENIERÍA - CONSULTORÍA</li>
        </ul>
      </div>
      <div class="cell medium-shrink">
        <ul class="social">
          <li>
            <a href="https://www.linkedin.com/company/" target="_blank">
              <i class="fab fa-whatsapp"></i>
            </a>
            <a href="https://www.linkedin.com/company/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
