<div class="menu">
  <button class="menu-close">
    <i class="material-icons">close</i>
  </button>
  <div class="top">
    <nav>
      <ul id="menu-primary-menu-1" class="">
        <li
          class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-308 active">
          <a title="Home" href="https://gmcontractors.co.uk/">Home</a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-133"><a title="Services"
                                                                                              href="https://gmcontractors.co.uk/services/">Services</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-134"><a title="Projects"
                                                                                              href="https://gmcontractors.co.uk/projects/">Projects</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135"><a title="About"
                                                                                              href="https://gmcontractors.co.uk/about/">About</a>
        </li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137"><a title="Contact"
                                                                                              href="https://gmcontractors.co.uk/contact/">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bottom">
    <div class="menu-contact">
      <a href="tel:01339884433">
        <i class="material-icons">phone</i>
      </a>
      <a href="mailto:enquiries@gmcontractors.co.uk">
        <i class="material-icons">mail</i>
      </a>
    </div>
    <a class="menu-cta">Start a project</a>
  </div>
</div>
<div class="menu-mask"></div>
<div class="home-hero">
  <div class="home-hero-inner">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <div class="home-hero-content">
            <h1 class="text-sm text-white text-uppercase text-bold tracking-wide line-heading fade-up">Gordon Mitchell
              Contractors</h1>
            <h2 class="text-5xl text-white text-uppercase text-bold leading-tighter fade-up">
              Building contractor &amp; timber systems specialists </h2>
            <button class="home-hero-play venobox" data-autoplay="true" data-vbtype="video"
                    href="http://vimeo.com/371416332">
              <div class="icon">
                <i class="material-icons">play_arrow</i>
              </div>
              <div class="text">Who we are</div>
            </button>
            <!--
<div class="arrow scroll-anchor cursor fade-up">
<i></i>
<svg>
<use xlink:href="#circle">
</svg>
</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
<symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" width="44px" height="44px" id="circle" fill="none" stroke="currentColor">
<circle r="20" cy="22" cx="22" id="test">
</symbol>
</svg>
-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="home-hero-slides">
    <div class="slide"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Highland-Games_6-e1573060499914.jpg');"></div>
    <div class="slide"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/contact.jpg');"></div>
    <div class="slide"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_2-e1573060738923.jpg');"></div>
    <div class="slide"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/gallery-workshop-1.jpg');"></div>
  </div>
</div>

<div class="home-about" id="scrollTarget">
  <div class="image"
       style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/about-01.jpg');"></div>
  <div class="text">
    <div class="inner">
      <p class="text-sm text-white text-uppercase text-bold tracking-wide line-heading fade-up">Est. 1989</p>
      <h2 class="text-3xl text-white text-uppercase text-bold leading-tight fade-up">Our heritage is building your
        future</h2>
      <div class=" fade-up">
        <p class="text-gray-lt">
        <p>We undertake projects of all shapes and sizes - each and every one of which is treated with the same core
          values that characterise our company - honesty, integrity, professional advice and quality craftmanship.</p>
      </div>
      <a class="btn btn-stroke btn-white fade-up" href="https://gmcontractors.co.uk/about/">
        <span>About us</span>
      </a>
    </div>
  </div>
</div>

<div class="home-services">
  <a id="constructionTrigger" href="https://gmcontractors.co.uk/services/construction/">
    <div class="inner">
      <h2 class="fade-up">Construction</h2>
      <button class="btn btn-stroke btn-white">
        <span>Learn more</span>
      </button>
    </div>
    <div class="image"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/construction-hero.jpg');"></div>
  </a>
  <div class="home-services-image" id="constructionImage"
       style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/construction-hero.jpg');"></div>
  <a id="timber-systemsTrigger" href="https://gmcontractors.co.uk/services/timber-systems/">
    <div class="inner">
      <h2 class="fade-up">Timber Systems</h2>
      <button class="btn btn-stroke btn-white">
        <span>Learn more</span>
      </button>
    </div>
    <div class="image"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/timber_systems-e1573059391750.jpg');"></div>
  </a>
  <div class="home-services-image" id="timber-systemsImage"
       style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/timber_systems-e1573059391750.jpg');"></div>
  <a id="plant-hireTrigger" href="https://gmcontractors.co.uk/services/plant-hire/">
    <div class="inner">
      <h2 class="fade-up">Plant Hire</h2>
      <button class="btn btn-stroke btn-white">
        <span>Learn more</span>
      </button>
    </div>
    <div class="image"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/gallery-workshop-3-e1573059346746.jpg');"></div>
  </a>
  <div class="home-services-image" id="plant-hireImage"
       style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/gallery-workshop-3-e1573059346746.jpg');"></div>
  <a id="haulageTrigger" href="https://gmcontractors.co.uk/services/haulage/">
    <div class="inner">
      <h2 class="fade-up">Haulage</h2>
      <button class="btn btn-stroke btn-white">
        <span>Learn more</span>
      </button>
    </div>
    <div class="image"
         style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/haulage-2-e1573059416146.jpg');"></div>
  </a>
  <div class="home-services-image" id="haulageImage"
       style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/haulage-2-e1573059416146.jpg');"></div>
</div>

<div class="content bg-gray-ltr">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="home-projects-header">
          <h2 class="text-sm text-uppercase text-bold tracking-wide line-heading fade-up">Selected projects</h2>
          <a class="text-sm text-uppercase text-bold text-gray-md tracking-wide fade-up"
             href="https://gmcontractors.co.uk/projects/">View all</a>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <ul class="card-list related-projects fade-up">
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/callater-lodge/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2020/05/8A4356AF-F792-40E5-8002-EFACC6396690.jpeg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Callater Lodge</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>Renovation</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/lynwood/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Lynwood_2-e1573060738923.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Lynwood</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/drumnagesk/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Drumnagesk_8.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Drumnagesk</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/highland-games-pavilion/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Highland-Games_1-e1573213910215.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Highland Games Pavilion</h2>
                  <div class="category-list">
                    <button>Commercial</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/bannatyne-health-club/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Banatyne1.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Bannatyne Health Club &#038; Spa</h2>
                  <div class="category-list">
                    <button>Commercial</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/alvadell/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2020/05/IMG_8755-scaled.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Alvadell</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/rothesay-rooms/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Rothesay-Rooms_1.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Rothesay Rooms</h2>
                  <div class="category-list">
                    <button>Commercial</button>
                    <button>Renovation</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/co-op/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Co-op_Banchory_7.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Co-op</h2>
                  <div class="category-list">
                    <button>Commercial</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/dess-fishing-lodge/">
              <div class="image">
                <div class="inner"
                     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/08/GM_Dess_Fishing_Lodge_5.jpg');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Dess Fishing Lodge</h2>
                  <div class="category-list">
                    <button>Commercial</button>
                    <button>Renovation</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/woodside-road/">
              <div class="image">
                <div class="inner" style="background-image:url('#');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Woodside Road</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/sunnyside-house/">
              <div class="image">
                <div class="inner" style="background-image:url('#');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Sunnyside House</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/craigmile/">
              <div class="image">
                <div class="inner" style="background-image:url('#');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Craigmile</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
          <li class="card">
            <a href="https://gmcontractors.co.uk/projects/hilton-house/">
              <div class="image">
                <div class="inner" style="background-image:url('#');"></div>
              </div>
              <div class="text">
                <div class="top">
                  <h2 class="text-lg text-bold text-black text-uppercase">Hilton House</h2>
                  <div class="category-list">
                    <button>Residential</button>
                    <button>New Build</button>
                  </div>
                </div>
                <div class="bottom">
                  <button class="btn btn-stroke btn-black">
                    <span>View project</span>
                  </button>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="contact-cta"
     style="background-image:url('https://gmcontractors.co.uk/wp-content/uploads/2019/11/drone_NEW.jpg');">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell text-center">
        <div class="inner">
          <h2 class="text-2xl text-bold text-uppercase text-white fade-up">Ready to discuss your next project?</h2>
          <a class="btn btn-primary fade-up" href="https://gmcontractors.co.uk/terms-conditions/">
            <span>Get in touch</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
