<div class="hero article-hero">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="hero-content">
          <h1 class="text-5xl text-white text-uppercase text-bold fade-up">
            SUPERVISIÓN
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="article-image bg-white">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell">
        <img src="../../assets/img/Supervision/Top-Superv.jpg"/>
      </div>
    </div>
  </div>
</div>

<div class="content bg-white ">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-8 xlarge-8 rich-text">
        <p class="p-service">Nuestros profesionales altamente capacitados han dirigido y supervisado de manera eficiente obras públicas y
          privadas aplicando metodologías que garantizan el éxito del proyecto. El enfoque está dirigido a supervisar la
          parte técnica y administrativa de la obra , controlando los flujos de proceso y así evitar pérdidas en su
          desarrollo.</p>
      </div>
    </div>
  </div>
</div>

<div class="gallery-container bg-white">
  <owl-carousel-o [options]="customsuper">
    <ng-template carouselSlide>
      <img class="carousel-cell service-slide" src="assets/img/Supervision/1-Superv.jpg"/>
    </ng-template>
    <ng-template carouselSlide>
      <img class="carousel-cell service-slide" src="assets/img/Supervision/2-Superv.jpg"/>
    </ng-template>
    <ng-template carouselSlide>
      <img class="carousel-cell service-slide" src="assets/img/Supervision/3-Superv.jpg"/>
    </ng-template>


  </owl-carousel-o>

</div>

<div class="content bg-white ">
  <div class="grid-container">
    <div class="grid-x align-center">
      <div class="cell large-8 xlarge-8 mb-md">
        <ul class="list-service">
          <li> Supervisión de proyectos de infraestructura y construcción.</li>
          <li> Supervisión de Montaje e Instalaciones de Equipos.</li>
          <li> Supervisión y Residencia in House.</li>
        </ul>
      </div>
    </div>
    <div class="grid-x align-center">
      <a class="btn btn-stroke btn-black" routerLink="/services">
        <span>NUESTROS SERVICIOS</span>
      </a>
    </div>
  </div>
</div>
<div class="content "
     style="background: transparent linear-gradient(120deg, #7CC6BF 0%, #7BB9BB 9%, #715B9A 78%, #6F4292 100%) 0% 0% no-repeat padding-box;">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="home-projects-header">
          <h2 class="text-sm text-uppercase text-bold tracking-wide text-white line-heading fade-up"
              style="visibility: visible;">
            PROYECTOS ACTUALES </h2>
          <a class="text-sm text-uppercase text-bold text-white tracking-wide fade-up"
             routerLink="/projects" style="visibility: visible;">ver todo</a>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <ul class="card-list related-projects fade-up slick-initialized slick-slider slick-dotted"
            style="visibility: visible;">
          <div class="slick-list draggable">
            <app-carousel-holder></app-carousel-holder>
          </div>

        </ul>
      </div>
    </div>
  </div>
</div>
