<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <li class="card card-owl mix mix-residential mix-renovation carousel-cell" category="">
      <a routerLink="/projects">
        <div class="image">
          <div class="inner"
               style="background-image:url('assets/img/proyecto1.jpg');"></div>
        </div>
        <div class="text">
          <div class="top">
            <h2 class="text-lg text-bold text-black text-uppercase">Edificio Mirador II – Origen Breña</h2>
            <div class="category-list">
              <button>Residencial</button>
              <button>Renovacion</button>
            </div>
          </div>

        </div>
      </a>
    </li>
  </ng-template>
  <ng-template carouselSlide>
    <li class="card card-owl mix mix-residential mix-renovation carousel-cell" category="">
      <a routerLink="/projects">
        <div class="image">
          <div class="inner"
               style="background-image:url('assets/img/proyecto2.jpg');"></div>
        </div>
        <div class="text">
          <div class="top">
            <h2 class="text-lg text-bold text-black text-uppercase">Claro Minka – Callao</h2>
            <div class="category-list">
              <button>Residencial</button>
              <button>Renovacion</button>
            </div>
          </div>

        </div>
      </a>
    </li>
  </ng-template>
  <ng-template carouselSlide>
    <li class="card card-owl mix mix-residential mix-renovation carousel-cell" category="">
      <a routerLink="/projects">
        <div class="image">
          <div class="inner"
               style="background-image:url('assets/img/proyecto3.jpg');"></div>
        </div>
        <div class="text">
          <div class="top">
            <h2 class="text-lg text-bold text-black text-uppercase">7 Sopas – Surquillo</h2>
            <div class="category-list">
              <button>Residencial</button>
              <button>Renovacion</button>
            </div>
          </div>

        </div>
      </a>
    </li>
  </ng-template>
  <ng-template carouselSlide>
    <li class="card card-owl mix mix-residential mix-renovation carousel-cell" category="">
      <a routerLink="/projects">
        <div class="image">
          <div class="inner"
               style="background-image:url('assets/img/proyecto4.jpg');"></div>
        </div>
        <div class="text">
          <div class="top">
            <h2 class="text-lg text-bold text-black text-uppercase">Edificio Los Negocios – Surquillo</h2>
            <div class="category-list">
              <button>Residencial</button>
              <button>Renovacion</button>
            </div>
          </div>

        </div>
      </a>
    </li>
  </ng-template>
  <ng-template carouselSlide>
    <li class="card card-owl mix mix-residential mix-renovation carousel-cell" category="">
      <a routerLink="/projects">
        <div class="image">
          <div class="inner"
               style="background-image:url('assets/img/proyecto5.jpg');"></div>
        </div>
        <div class="text">
          <div class="top">
            <h2 class="text-lg text-bold text-black text-uppercase">Edificio Los Negocios - Surquillo</h2>
            <div class="category-list">
              <button>Residencial</button>
              <button>Renovacion</button>
            </div>
          </div>

        </div>
      </a>
    </li>
  </ng-template>
  <ng-template carouselSlide>
    <li class="card card-owl mix mix-residential mix-renovation carousel-cell" category="">
      <a routerLink="/projects">
        <div class="image">
          <div class="inner"
               style="background-image:url('assets/img/proyecto6.jpg');"></div>
        </div>
        <div class="text">
          <div class="top">
            <h2 class="text-lg text-bold text-black text-uppercase">Edificio Los Negocios - Surquillo</h2>
            <div class="category-list">
              <button>Residencial</button>
              <button>Renovacion</button>
            </div>
          </div>

        </div>
      </a>
    </li>
  </ng-template>


</owl-carousel-o>
