<div class="home-hero">
  <div class="home-hero-inner">
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell">
          <div class="home-hero-content">
            <h2 class="text-5xl text-white text-uppercase text-bold leading-tighter fade-up">Especialistas <br> en
              Ingeniería </h2>

            <a href="#scrollTarget" class="btn btn-stroke btn-white fade-up">
              <span>adelante</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="social-home">
      <a href="https://www.linkedin.com/company/" target="_blank">
        <i class="fab fa-whatsapp"></i>
      </a>
      <br>
      <a href="https://www.linkedin.com/company/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="home-hero-slides">
    <div class="slide"
         style="background-image:url('/assets/img/Menu/Img1.jpg');"></div>
  </div>
</div>

<div class="home-about" id="scrollTarget">
  <div class="image"
       style="background-image:url('assets/img/Pic.png');"></div>
  <div class="text">
    <div class="inner">
      <h1 class="text-sm text-white text-uppercase text-bold tracking-wide line-heading fade-up">Est. 2021</h1>
      <h2 class="text-3xl text-white text-uppercase text-bold leading-tight fade-up">CONSTRUIMOS <br>EL FUTURO</h2>
      <br>
      <div class=" fade-up">
        <p class="text-white">Somos profesionales con amplia experiencia en el diseño, dirección, supervisión y
          desarrollo de proyectos de
          Ingeniería.</p>
      </div>
      <a class="btn btn-stroke btn-white fade-up" routerLink="/about">
        <span>NOSOTROS</span>
      </a>
    </div>
  </div>
</div>

<div class="home-services">
  <div class="home-service">
    <a routerLink="ingeneria">
      <div class="inner">
        <h2 class="fade-up">INGENIERÍA</h2>
        <button class="btn btn-stroke btn-white">
          <span>Ver más</span>
        </button>
      </div>
      <div class="image"
           style="background-image:url('assets/img/9PnjBiSReM.png');"></div>
    </a>
    <div class="home-services-image"
         style="background-image:url('assets/img/9PnjBiSReM.png');"></div>
  </div>

  <div class="home-service">
    <a  routerLink="supervision">
      <div class="inner">
        <h2 class="fade-up">Supervisión</h2>
        <button class="btn btn-stroke btn-white">
          <span>Ver más</span>
        </button>
      </div>
      <div class="image"
           style="background-image:url('assets/img/pexels-pixabay-461w67.png');"></div>
    </a>
    <div class="home-services-image"
         style="background-image:url('assets/img/pexels-pixabay-461w67.png');"></div>
  </div>

  <div class="home-service">
    <a routerLink="direccion">
      <div class="inner">
        <h2 class="fade-up">DIRECCIÓN Y GESTIÓN DE PROYECTOS</h2>
        <button class="btn btn-stroke btn-white">
          <span>Ver más</span>
        </button>
      </div>
      <div class="image"
           style="background-image:url('assets/img/pexels-pixabay-46167a.png');"></div>
    </a>
      <div class="home-services-image "
           style="background-image:url('assets/img/pexels-pixabay-46167a.png');"></div>
  </div>

  <div class="home-service">
    <a routerLink="bim">
      <div class="inner">
        <h2 class="fade-up">BIM / VDC</h2>
        <button class="btn btn-stroke btn-white">
          <span>Ver más</span>
        </button>
      </div>
      <div class="image"
           style="background-image:url('assets/img/pexels-pixabay-46167.png');"></div>
    </a>
    <div class="home-services-image "
         style="background-image:url('assets/img/pexels-pixabay-46167.png');"></div>
  </div>
</div>


<div class="content "
     style="background: transparent linear-gradient(120deg, #7CC6BF 0%, #7BB9BB 9%, #715B9A 78%, #6F4292 100%) 0% 0% no-repeat padding-box;">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell">
        <div class="home-projects-header">
          <h2 class="text-sm text-uppercase text-bold tracking-wide text-white line-heading fade-up"
              style="visibility: visible;">
            PROYECTOS ACTUALES </h2>
          <a class="text-sm text-uppercase text-bold text-white tracking-wide fade-up"
             routerLink="/projects" style="visibility: visible;">ver todo</a>
        </div>
      </div>
    </div>
    <div class="grid-x">
      <div class="cell">
        <ul class="card-list related-projects fade-up slick-initialized slick-slider slick-dotted"
            style="visibility: visible;">
          <div class="slick-list draggable">
            <app-carousel-holder></app-carousel-holder>
          </div>

        </ul>
      </div>
    </div>
  </div>
</div>
